# Compiled class file
*.o
*.pdf
*.pptx

# Log file
*.log

# LaTeX temp files
*.aux
*.fdb_latexmk
*.gz
*.toc
*.fls

# Backup files
*.bak

# drawio backup files
*.bkp

# Ignore build output directory
build
debug